*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    font-family: sans-serif;
    
}
body{
 display:flex;
 justify-content: center;
 align-items: center;
 height:100vh;
 background-color: rgb(247, 243, 244);
}
.container{
    background-color: rgb(228, 233, 221);
    border-radius: 5px;
   box-shadow: 10px 20px 25px rgba(0,0,0,0.3);
    overflow:hidden;
    max-width:100%;
    width:30%;
}
.container-box{
    border-bottom: 1px solid white;
    background-color: white;
    padding:20px 40px;
    text-align:center;
    margin:0;
}
.form{
    padding:30px 40px;
}
.form-control{
    position:relative;
   padding-bottom: 10px;
   margin-bottom: 10px;
}
.form-control label{
    scroll-margin-bottom: 5px;
    display:inline-block;
}
.form-control input{
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    display:block;
    font-size: 14px;
    padding:10px;
    margin-bottom: 10px;
    width:100%;
}
.form-control input:focus{
    outline:none;
    border-color:#777
}
.form-control.success input{
    border-color: #2ecc71;
}
.form-control.error input{
    border-color: red;
}
.form-control i{
    visibility:visible ;
    position:absolute;
    top:25px;
    right:10px;
}


